# EditorConfig is awesome: https://EditorConfig.org

# https://docs.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options?view=vs-2022
# https://docs.microsoft.com/en-us/visualstudio/ide/code-styles-and-code-cleanup?view=vs-2022

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# 4 tab indentation
[*]
indent_style = tabs
tab_width = 4

# Remove whitespaces at eol
[*]
trim_trailing_whitespace = true
